<app-menus></app-menus>

<div class="contenedor">

    <div class="container-fluid">

        <form (ngSubmit)="guardar()" [formGroup]="Formulario">

            <div class="mb-3 ms-3 mt-2 row">
                <h3>Editar torneo</h3>
            </div>

            <div class="mb-3 ms-3 mt-2 row">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                    <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">
                        Este campo es obligatorio y debe de contener menos de 40 letras
                    </span>
                </div>
            </div>

            <div class="mb-3 ms-3 mt-2 row">
                <label class="col-sm-3 col-form-label">Fecha Inicio</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" formControlName="fechai"
                        placeholder="Fecha Inicio">
                    <span class="form-text text-danger" *ngIf="campoEsValido('fechai')">
                        Este campo es obligatorio 
                    </span>
                </div>
            </div>

            <div class="mb-3 ms-3 mt-2 row">
                <label class="col-sm-3 col-form-label">Fecha Fin</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" formControlName="fechaf"
                        placeholder="Fecha Fin">
                    <span class="form-text text-danger" *ngIf="campoEsValido('fechaf')">
                        Este campo es obligatorio 
                    </span>
                </div>
            </div>


            <div class="d-flex flex-row-reverse">

                <button type="submit" [disabled]="!Formulario.valid" class="btn btn-outline-success">
                    <i class="fa-solid fa-floppy-disk"></i>
                </button>

                <button type="button" class="btn btn-outline-danger" (click)="eliminar(Formulario.value.id)">
                    <i class="fa-solid fa-trash-can"></i>
                </button>

            </div>

        </form>

    </div>

</div>