<app-menus></app-menus>

<div class="contenedor">

    <div class="contenido">

        <div class="vista">  
            <div class="imagen">
                <img class="principal1" src="https://cdn-icons-png.flaticon.com/512/7711/7711842.png" width="150" height="150">
            </div>
            <div class="texto">
                <button class="btn btn-secondary" [routerLink]="['/pages/agregarjugador']" type="submit" style="color:white"><i class="fa-solid fa-plus"></i></button>

                <h3>Agregar jugador</h3>
            </div>
        </div>
            
        <div class="vista" *ngFor="let L of Lista" [routerLink]="['/pages/editarjugador', L.id]">  
            <div class="imagen">
                <img class="principal" src="https://static1.abc.es/media/bienestar/2019/09/17/futbol-1-kU3C--1200x630@abc.jpg" width="300" height="200">
            </div>
            <div class="texto">
                <h6>{{L.jugador}}</h6>
                <p>{{L.equipo}}</p>
            </div>
        </div>

    </div>
    

</div>
