<app-menus></app-menus>

<div class="contenedor">

    <div class="contenido">

        <div class="vista">  
            <div class="imagen">
                <img class="principal1" src="https://cdn-icons-png.flaticon.com/512/2256/2256982.png" width="150" height="150">
            </div>
            <div class="texto">
                <button class="btn btn-secondary" [routerLink]="['/pages/agregarequipo']" type="submit" style="color:white"><i class="fa-solid fa-plus"></i></button>

                <h3>Agregar equipo</h3>
            </div>
        </div>
            


    </div>
    

</div>
