<app-menus></app-menus>

<div class="contenedor">

    <div class="contenido">

        <div class="vista">  
            <div class="imagen">
                <img class="principal1" src="https://cdn-icons-png.flaticon.com/512/2256/2256982.png" width="150" height="150">
            </div>
            <div class="texto">
                <button class="btn btn-secondary" type="submit" style="color:white"><i class="fa-solid fa-plus"></i></button>

                <h3>Agregar equipo</h3>
            </div>
        </div>
            
        <div class="vista" *ngFor="let L of Lista">  
            <div class="imagen">
                <img class="principal"  width="300" height="200">
            </div>
            <div class="texto">
                <h5>Hola</h5>
                <h6>{{L.hora}}</h6>
                <p>{{L.fecha | date: "d-MMMM-y"}}</p>
            </div>
        </div>


    </div>
    

</div>
